<%- include('partials/header', {title:"Green Screen: Virtual Plant Collection Game"}) -%>

<p> Welcome to your virtual garden!
  <br>
  <br>
  <a href="/draw">Click to draw a plant card!</a>
  <br>
  <a href="/garden">Click to see your garden!</a>

<%- include('partials/footer') -%>
